<ion-header [translucent]="true">
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <br>
  <ion-card (click)="goToDetails(item.id)" *ngFor="let item of List ; let i = index">
    <ion-card-header>
    </ion-card-header>
    
    <ion-card-content>  
      <ion-img id="img" [src]="item.image"></ion-img>
      <br>
      {{item.name}}
    </ion-card-content>
  </ion-card>
 
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="fav">
        <ion-icon name="person"></ion-icon>
        <ion-label>profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="fav">
        <ion-icon name="heart"></ion-icon>
        <ion-label>favourites</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
  